#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Center the entire app */
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.item button{
  background-color: #2d2d2d; 
  border-radius: 15px; 
  width: 500px;
  height: 100px;
}

.item{
  background-color: #2d2d2d; 
  border-radius: 15px; 
  width: 500px;
  overflow: hidden;
}
/* Center the entire app */


/* Drop Down Arrow */
.dropdown-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.dropdown-button {
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  background-color: #2d2d2d;
  border-radius: 15px;
  gap: 10px;
}
/* Drop Down Arrow */
