#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Center the entire app */
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.item {
  background-color: var(--card-background);
  border-radius: 15px;
  width: 500px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.item button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 15px;
  width: 100%;
  height: 100px;
  color: var(--header-text-color);
  font-size: 1.2rem;
  font-weight: bold;
}

/* Dropdown in both modes */
.dropdown-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.dropdown-button {
  background-color: var(--accent-color);
  color: var(--header-text-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 8px;
}

.dropdown-content {
  background-color: var(--card-background);
  border-radius: 15px;
  padding: 1rem;
  margin-top: 0.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
